*
!.gitignore
!Regionale_kern*130822.csv
!rivm_reproduction_number.csv
!rivm_reproductiegetal-20*.csv
!rivm_R_updates.csv
!casus_history_summary.csv
!restrictions.csv
!events_nl.csv
!daily_numbers_anomalies.csv
!municipalities.csv
!mun_biblebelt_urk.csv
!Religie_en_kerkbezoek_naar_gemeente_2010-2014.csv
!huishoudens_samenstelling_gemeentes.csv
!uk_*_b117_pop.csv
!ons_gov_uk_country_by_var.xlsx
!kiemsurveillance.txt
!COVID-19_varianten.csv
!cum_cases_by_holiday_region_and_age.csv
!TvT.txt
# EOF
