*
!.gitignore
!Regionale_kern*130822.csv
!rivm_reproduction_number.csv
!casus_history_summary.csv
!restrictions.csv
!daily_numbers_anomalies.csv
!municipalities.csv
!Religie_en_kerkbezoek_naar_gemeente_2010-2014.csv
!huishoudens_samenstelling_gemeentes.csv
!uk_*_b117_pop.csv
!ons_gov_uk_country_by_var.xlsx
# EOF
